body{
    background-image: url(../img/back.jpg); 
        background-repeat:no-repeat;
        background-size: cover;
    position: fixed;
    height: 600px;
    width: 100%;
}
.circles{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #B71212;
    margin: 20px;
      animation-name: blinky;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.box{
     height: 50px;
    width: 50px;

    background-color: #B71212;
    margin: 20px;
    animation-name: blinky;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes blinky{
    0%{opacity: 0
    }
    50%{opacity: 1}
    100%{opacity: 0}
}