body{
    background-image: url(../img/back.jpg); 
        background-repeat:no-repeat;
        background-size: cover;
    position: fixed;
    height: 600px;
    width: 100%;
}
.circles{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:#B8460F;
    margin: 20px;
      animation-name: blinky;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.box{
     height: 50px;
    width: 50px;

    background-color: #B8460F;
    margin: 20px;
    animation-name: blinky;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


 .1{
    margin-left: 
}


/*animation*/

@keyframes blinky{
    0%{opacity: 1;
      
        
    }
    /*
    25%{
        opacity: 0.5;
        margin-left: 25%;
    }
    */
    50%{opacity: 0;
    
    }
    /*
    75%{
        opacity: 0.5;
        margin-left: 75%
    }
    */
    100%{opacity: 1;
       
    }
}

